 <div class="text-center p-4 " style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">Made by Lakshya Agrawal</a>
  </div>
  {{!-- d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top --}}