<form action="enter-field" name = "Form" method="POST" onsubmit="return required()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Write Todo</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name = "value" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>