<form action="update" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{data._id}}</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name = "value" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>